*{
  margin:0;
  padding:0;
}
ul{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: #00151f;
  width:200px;
  border:1px solid rgba(0,0,0,.5)
}
ul li{
  list-style:none;
  position:relative;
  padding:10px 0;
  border-bottom:rgba(0,0,0,.2);
}
ul li:last-child{
  border-bottom:none;
}
ul li label{
  color:#fff;
  padding-left:30px;
  cursor:pointer;
  
}
ul li input{
  opacity:0;
  cursor:pointer;
}


ul li label .check{
  position:absolute;
  top:12px;
  left:0px;
  width:20px;
  height:20px;
  background:#000;
  display:block;
  box-sizing:border-box;
  border-radius:4px;
}

ul li label .check:before{
  content:'';
  position:absolute;
  top:3px;
  left:3px;
  right:3px;
  bottom:3px;
  background:#000310;
  transition:0.5s;
  transform:translateX(175px);
}

ul li label input:checked ~ .check:before{
  background-color: #adff00;
  box-shadow:0 0 15px #adff00;
  transform:translateX(0)
}
